<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.facetec.zoom.sdk"
    android:versionCode="1"
    android:versionName="6.2.3" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="27"
        tools:ignore="GradleOverrides" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:fullBackupContent="@xml/mybackupscheme"
        android:hardwareAccelerated="true"
        android:largeHeap="true" >
        <activity
            android:name="com.facetec.zoom.sdk.ZoomEnrollmentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.facetec.zoom.sdk.ZoomVerificationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.facetec.zoom.sdk.ZoomAuthenticationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
    </application>

</manifest>